html{
    min-height: 100vh;
    background: linear-gradient(180deg, rgb(165, 45, 45), rgb(54, 31, 25));

}


h1 {
text-align: center;
color: white;
font-weight: bold;
font-size: 90px;
font-family: Luminari;
text-decoration:underline;
text-decoration-color: white;


}

#chef{
border-style: solid;
border-color: black;
display:block;
margin: auto;
border-radius: 20px;

}

#tacos,#eggs,#potato,#hotDog{
    width: 400px;
    height: 250px;
    border-style: groove;
    border-radius: 20px;
    border-color: black;
    

}

#tacos {
    position:absolute;
    top:50px;
    right: 10px;
}

#tacos:hover, #eggs:hover, #potato:hover,#hotDog:hover{
transform: scale(1.06);
transition: 0.75s;
background: rgba(0,0,0,0.65);
}

.tacoHover{
    position:absolute;
    top:50px;
    right: 10px;
    width: 40px;
    height: 250px;
    background: rgba(0,0,0,0);
    opacity:0;
    transition: all 0.4s ease-in;
   
    
    
}

.tacoHover:hover
{
    
    opacity:1;
    background: rgba(0,0,0,0);
    transform: translate(-10%, -10%) rotateY(0deg);
    color:#ffffff;
    
}

#eggs{
    position:absolute;
    bottom:50px;
    right: 10px;
}
#potato{
    position:absolute;
    top:50px;
    left: 10px;
}

#hotDog{
    position:absolute;
    bottom:50px;
    left: 10px;
}

h2{
    text-align: center;
    font-size: 25px;
    font-family: Luminari;
    color: white;
    
    
}
